.view,
body,
html {
    height: 100vh;
    font-family: Nunito;
}

body {
    background-image:linear-gradient(to bottom, rgb(78 78 81 / 72%), rgb(0 0 0 / 83%)),
    url(../img/login-background.jpg);
    background-size: cover
}

.card {
    background-color: rgb(165 165 165 / 77%);
    margin-top: 30px
}

input {
    border: 1px solid #fff !important;
}

input::placeholder {
    color: red
}

.form-label {
    color: #fff;
}

a {
    color: #fff
}

:-webkit-autofill,
:-webkit-autofill:active,
:-webkit-autofill:focus,
:-webkit-autofill:hover {
    transition: all 5000s ease-in-out 0s;
    transition-property: background-color, color;
    -webkit-text-fill-color: #fff;
    font-weight: 300 !important
}

@media (max-width:740px) {
    body,
    html {
        height: 815px
    }
}

@media (min-width:800px) and (max-width:850px) {
    body,
    html {
        height: 650px
    }
}